@model IEnumerable<E_Commerce.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<h1>Products</h1>
<hr />

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<div class="d-flex justify-content-around flex-wrap align-content-around">

	@foreach (var product in Model)
	{
		var image = $"~/images/Products/{product.image}";
		<div class="card" style="width:300px">
			<img class="card-img-top" src=@Url.Content(image) alt="Card image">
			<div class="card-body">
				<h4 class="card-title">@product.Name</h4>
				<h5 class="card-title">@product.Price.ToString("C0")</h5>
				<p class="card-text">@product.Description</p>
				<form asp-action="AddToCart" asp-controller="Cart">
					<input hidden value="@product.Id" name="ProductId">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="Quantity">Quantity</label>
                        <input type="number" value="1" name="Quantity" id="Quantity" class="form-control">

                        <button type="submit" class="btn btn-outline-secondary">Add To Cart</button>
					</div>
				</form>
			</div>
		</div>
	}
</div>